In [21]:
from urllib import request
from bs4 import BeautifulSoup

# 영화 랭킹 검색하기, 순위대로 평점 출력
url = 'https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date=20211103'
target = request. urlopen(url)

soup = BeautifulSoup(target)
soup

AttributeError: 'NoneType' object has no attribute 'point'

In [24]:
#<div class='tit5'>  : 영화 제목
#<td class='point'>  : 평점

movie_title = []
movie_point = []

for line in soup.findAll('tr'):
    title = line.find('div', class_='tit5')
    if title:
        movie_title.append(title.get_text().strip('\n'))
    point = line.find('td', class_='point')
    if point:
        movie_point.append(point.get_text())
        
for i, (title, point) in enumerate(zip(movie_title, movie_point)):
    print("{} : {} - {}".format(i+1, title, point))

1 : 그린 북 - 9.59
2 : 자산어보 - 9.34
3 : 소울 - 9.31
4 : 코다 - 9.26
5 : 부활: 그 증거 - 9.24
6 : 극장판 짱구는 못말려: 격돌! 낙서왕국과 얼추 네 명의 용사들 - 9.22
7 : 기적 - 9.22
8 : 고장난 론 - 9.15
9 : 꽃다발 같은 사랑을 했다 - 9.09
10 : 라스트 듀얼: 최후의 결투 - 9.04
11 : 윤희에게 - 8.97
12 : 더 파더 - 8.95
13 : 바르다가 사랑한 얼굴들 - 8.89
14 : 리틀 포레스트 - 8.83
15 : 너의 이름은. - 8.80
16 : 고양이를 부탁해 - 8.79
17 : 가을의 전설 - 8.68
18 : 세자매 - 8.61
19 : 보이스 - 8.53
20 : 노매드랜드 - 8.47
21 : 모가디슈 - 8.33
22 : 메기 - 8.30
23 : 언어의 정원 - 8.17
24 : 날씨의 아이 - 7.96
25 : 듄 - 7.79
26 : 더 독 - 7.70
27 : 홀리 모터스 - 7.51
28 : 그린 나이트 - 7.46
29 : 수색자 - 7.21
30 : 아네트 - 7.17
31 : 007 노 타임 투 다이 - 6.83
32 : 지푸라기라도 잡고 싶은 짐승들 - 6.62
33 : 샹치와 텐 링즈의 전설 - 6.60
34 : 용과 주근깨 공주 - 6.58
35 : 싱크홀 - 6.49
36 : 지금은맞고그때는틀리다 - 6.47
37 : 노회찬6411 - 6.28
38 : 베놈 2: 렛 데어 비 카니지 - 6.13
39 : 이터널스 - 6.07

In [38]:
from urllib import request

In [45]:
text = '''Yesterday
All my troubles seemed so far away
Now it looks as though they're here to stay
Oh, I believe in yesterday
Suddenly
I'm not half the man I used to be
There's a shadow hanging over me
Oh, yesterday came suddenly
Why she had to go, I don't know
She wouldn't say
I said something wrong
Now I long for yesterday
Yesterday
Love was such an easy game to play
Now I need a place to hide away
Oh, I believe in yesterday
Why she'''

In [38]:
client_id = "bIRDfBwqtilUYe3uIXzW" # 개발자센터에서 발급받은 Client ID 값
client_secret = "GTH5qotomI" # 개발자센터에서 발급받은 Client Secret 값
encText = urllib.parse.quote(text)
data = "source=en&target=ko&text=" + encText
url = "https://openapi.naver.com/v1/papago/n2mt"
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request, data=data.encode("utf-8"))
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
else:
    print("Error Code:" + rescode)
    result = response.json()
    print(result)
    print(result['message']['result']['translatedText'])

NameError: name 'urllib' is not defined

In [35]:
import requests
request_url = "https://openapi.naver.com/v1/papago/n2mt"

headers= {"X-Naver-Client-Id": "LWsFwEbosr0XRelDdvE7", 
          "X-Naver-Client-Secret":"Dry6UBnViF"}
params = {"source": "en", "target": "ko", "text": text}

response = requests.post(request_url, headers=headers, data=params)
if(response.status_code != 200):
    print("Error Code:", response)
else:
    #print(response)
    result = response.json()
    #print(result)
    print(result['message']['result']['translatedText'])

NameError: name 'text' is not defined

In [1]:
## 정의된 OpenAPI URL을 호출합니다.
response = requests.get(url)

## http 요청이 성공했을때 API의 리턴값을 가져옵니다.
if response.status_code == 200:
    try:
        contents = response.text
        ecosRoot = ET.fromstring(contents)
        
        ## 호출결과에 오류가 있었는지 확인합니다.
        if ecosRoot[0].text[:4] in ('INFO','ERRO'):
            print(ecosRoot[0].text + " : " + ecosRoot[1].text)
            ## 오류메세지를 확인하고 처리합니다.
        else:
            print(contents)
            ## 결과값을 활용하여 필요한 프로그램을 작성합니다.
    except Exception as e:
        print(str(e))
        ## 예외가 발생했을때 처리합니다.

NameError: name 'requests' is not defined

In [53]:
#### 웹 검색 하는 방법(데이터 크롤링)
#1. 브라우저에서 자료를 가져오는 방법 (news, bank 등등)
#2. api를 활용해서 가져오는 방법 
# - 해당 사이트에서 개발자 가이드를 제공
# - 가이드에 따라 원하는 정보를 요청
# - JSON 또는 XML 형식으로 데이터를 제공 (python에서는 json으로 제공 받음)
# - json >> dictionary로 변경 가능

#urlopen : 데이터 크롤링
#데이터 파싱 , 가공 >> 데이터 생성
# 데이터를 가지고 분석

In [41]:
#test_package의 모듈을 추가
import test_package.module_a as a
import test_package.module_b as b
print(a.variable_a)
print(b.variable_b)

ModuleNotFoundError: No module named 'test_package'

In [42]:
from test_package import *

print(module_a.variable_a)
print(module_b.variable_b)

ModuleNotFoundError: No module named 'test_package'

In [30]:
# 학생 리스트를 선언합니다.

students = [
    { "name": "윤인성", "korean": 87, "math": 98, "english": 88, "science": 95 },
    { "name": "연하진", "korean": 92, "math": 98, "english": 96, "science": 98 },
    { "name": "구지연", "korean": 76, "math": 96, "english": 94, "science": 90 },
    { "name": "나선주", "korean": 98, "math": 92, "english": 96, "science": 92 },
    { "name": "윤아린", "korean": 95, "math": 98, "english": 98, "science": 98 },
    { "name": "윤명월", "korean": 64, "math": 88, "english": 92, "science": 92 }
]
for student in students:
    score_sum = student["korean"] + student["math"] +\
    student["english"] + student["science"]
    score_average = score_sum / 4
    print(student["name"], score_sum, score_average, sep="\t")

윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

In [31]:
def create_student(name, korean, math, english, science):
    return{
        "name" : name,
        "korean": korean,
        "math" : math,
        "english" : english,
        "science": science
    }

def student_get_sum(student):
    return student["korean"] + student["math"] +\
        student["english"] + student["science"]
def student_get_average(student):
    return student_get_sum(student) / 4
    
def student_to_string(student):
    return "{}\t{}\t{}".format(
        student["name"],
        student_get_sum(student),
        student_get_average(student))

students = [
    create_student("윤인성", 87, 98, 88, 95),
    create_student("연하진", 92, 98, 96, 98),
    create_student("구지연", 76, 96, 94, 90),
    create_student("나선주", 98, 92, 96, 92),
    create_student("윤아린", 95, 98 ,98, 98),
    create_student("윤명월", 64, 88, 92, 92)
]
print("이름", "총점", "평균", sep="\t")
for student in students:
    print(student_to_string(student))

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	356	89.0
나선주	378	94.5
윤아린	389	97.25
윤명월	336	84.0

In [43]:
class Student:
    pass

student = student()

students = [
    Student(),
    Student(),
    Student(),
    Student(),
    Student(),
    Student(),
]

TypeError: 'dict' object is not callable

In [48]:
class Student:
    def __init__(self, name, korean, math, english, sciecce):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        
students = [
    create_student("윤인성", 87, 98, 88, 95),
    create_student("연하진", 92, 98, 96, 98),
    create_student("구지연", 76, 96, 94, 90),
    create_student("나선주", 98, 92, 96, 92),
    create_student("윤아린", 95, 98 ,98, 98),
    create_student("윤명월", 64, 88, 92, 92)
]

students[0].name
students[0].korean
students[0].math
students[0].english
students[0].science

AttributeError: 'dict' object has no attribute 'name'

In [50]:
class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
        def get_sum(self):
            return self.korean + self. math +\
                self.english + self.science
        
        def get_average(self):
            return self.get_sum() / 4
        
        def to_string(self):
            return "{}\t{}\t{}".format(\
                self.name,\
                self.get_sum(),\
                self.get_average())

students = [
    create_student("윤인성", 87, 98, 88, 95),
    create_student("연하진", 92, 98, 96, 98),
    create_student("구지연", 76, 96, 94, 90),
    create_student("나선주", 98, 92, 96, 92),
    create_student("윤아린", 95, 98 ,98, 98),
    create_student("윤명월", 64, 88, 92, 92)
]
print("이름", "총점", "평균", sep="\t")
for student in students:
    print(students_class_class[0].to_string())

이름	총점	평균

NameError: name 'students_class_class' is not defined

In [54]:
# 학생 리스트 생성 
# 학생 리스트를 선언합니다.
students = [
    { "name": "윤인성", "korean": 87, "math": 98, "english": 88, "science": 95 },
    { "name": "연하진", "korean": 92, "math": 98, "english": 96, "science": 98 },
    { "name": "구지연", "korean": 76, "math": 96, "english": 94, "science": 90 },
    { "name": "나선주", "korean": 98, "math": 92, "english": 96, "science": 92 },
    { "name": "윤아린", "korean": 95, "math": 98, "english": 98, "science": 98 },
    { "name": "윤명월", "korean": 64, "math": 88, "english": 92, "science": 92 }
]
#print('a','b',sep='\t')

In [55]:
# 학생의 점수 출력 : students 의 데이터를 반복하서 가져 옴
print(" 이름","총점","평균","국어","영어","수학","과학",sep='\t')
print("======","====","====","====","====","====","====",sep='\t')

for student in students:
    tot = student['korean']+ student['english'] + \
                      student['math']+student['science']
    avg = tot/4
    print("{}\t{:3d}\t{:3.2f}\t{:3d}\t{:3d}\t{:3d}\t{:3d}".format(student['name'],
                      tot,avg,student['korean'],student['english'],                                                                  
                      student['math'],student['science']))

 이름	총점	평균	국어	영어	수학	과학
======	====	====	====	====	====	====
윤인성	368	92.00	 87	 88	 98	 95
연하진	384	96.00	 92	 96	 98	 98
구지연	356	89.00	 76	 94	 96	 90
나선주	378	94.50	 98	 96	 92	 92
윤아린	389	97.25	 95	 98	 98	 98
윤명월	336	84.00	 64	 92	 88	 92

In [57]:
# 학생 객체를 만든 함수로 학생 자료 생성
def create_student(name,korean,math,english,science):
    return {"name": name, "korean": korean, 
            "math": math, "english": english, 
            "science": science
           }

# 총점 구하는 함수
def total_score(student):
    return student['korean']+ student['english'] + student['math']+student['science']
# 평균 구하는 함수
def avg_score(student):
    return total_score(student)/4
#각각의 학생의정보를 출력하는 함수
def print_string(student):
    return "{}\t{}\t{}\t{}\t{}\t{}\t{}".format(student['name'],
                                               total_score(student),
                                               avg_score(student), 
                                               student['korean'],student['english'],
                                               student['math'],student['science'])

In [58]:
# 학생 리스트를 선언 , 학생을 생성하는 함수를 사용해서
students = [
    create_student("윤인성", 87, 98, 88, 95),
    create_student("연하진", 92,  98,  96, 98),
    create_student("구지연", 76,  96,  94, 90 ),
    create_student("나선주", 98,  92, 96, 92),
    create_student("윤아린", 95,  98,  98,  98),
    create_student("윤명월", 64,  88, 92,  92)
]
print(" 이름","총점","평균","국어","영어","수학","과학",sep='\t')
print("======","====","====","====","====","====","====",sep='\t')

for student in students:
    print(print_string(student))
#print_student(students)

 이름	총점	평균	국어	영어	수학	과학
======	====	====	====	====	====	====
윤인성	368	92.0	87	88	98	95
연하진	384	96.0	92	96	98	98
구지연	356	89.0	76	94	96	90
나선주	378	94.5	98	96	92	92
윤아린	389	97.25	95	98	98	98
윤명월	336	84.0	64	92	88	92

In [59]:
10 #값
a # 식별자 또는 변수, 오브젝트
a = 값 >> 숫자, 문자, 불리언, 리스트 딕셔너리
a = True or False
a = [ , ] >> a[0], a.append(값), a.insert(위치, 값)

SyntaxError: invalid syntax (<ipython-input-59-fef3f7f9a347>, line 3)

In [60]:
# class로 학생 정보 생성 매서드 및 관련된 매서드 정의 
class Student:   #  학생 인스턴스에 대한 속성과 메서드를 정의 
    # 초기화 class 생성시 생성
    def __init__(self,name,korean,math,english,science ):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
    # 총점 구함   
    def get_sum(self):
        return self.korean + self.english + self.math + self.science
    # 평균 구함
    def get_avg(self):
        return self.get_sum()/4
    # 프린트 
    def to_string(self):
         return "{}\t{}\t{}\t{}\t{}\t{}\t{}".format(self.name,
                                               self.get_sum(),
                                               self.get_avg(), 
                                               self.korean,self.english,
                                               self.math,self.science)
# b_class = Student('a',10,20,30,40)
# print(b_class.get_sum(), b_class.get_avg())

In [61]:
students_class = [
    Student("윤인성", 87, 98, 88, 95),
    Student("연하진", 92,  98,  96, 98),
    Student("구지연", 76,  96,  94, 90 ),
    Student("나선주", 98,  92, 96, 92),
    Student("윤아린", 95,  98,  98,  98),
    Student("윤명월", 64,  88, 92,  92)
]
print(students_class[0].to_string())
print("--------")
for student in students_class:
    print(student.to_string())

윤인성	368	92.0	87	88	98	95
--------
윤인성	368	92.0	87	88	98	95
연하진	384	96.0	92	96	98	98
구지연	356	89.0	76	94	96	90
나선주	378	94.5	98	96	92	92
윤아린	389	97.25	95	98	98	98
윤명월	336	84.0	64	92	88	92

In [62]:
a_student = Student("연하진", 92,  98,  96, 98)     
print(a_student.name, a_student.korean, a_student.math)

students = [ 
    Student("윤인성", 87, 98, 88, 95),  
    Student("연하진", 92,  98,  96, 98)
]
print(students[0].name, students[1].korean)
for s_class in students:
    print(s_class.name, s_class.korean, s_class.math, s_class.english)

연하진 92 98
윤인성 92
윤인성 87 98 88
연하진 92 98 96