# 파이썬 머신러닝 판다스 데이터분석
## Part 3. 데이터 살펴보기

In [2]:
# 예제 3-1
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_csv('./data/auto-mpg.csv', header=None)

# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

# 데이터프레임 df의 내용을 일부 확인 
# display() only for dataframe visual
display(df.head())     # 처음 5개의 행
print('\n')
display(df.tail())     # 마지막 5개의 행

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [3]:
# df의 모양과 크기 확인: (행의 개수, 열의 개수)를 투플로 반환 
print(df.shape)
print('\n')

(398, 9)

In [ ]:
# 데이터프레임 df의 내용 확인 
print(df.info())
print('\n')

In [ ]:

# 데이터프레임 df의 자료형 확인 
print(df.dtypes)
print('\n')

# 시리즈(mog 열)의 자료형 확인 
print(df.mpg.dtypes)
print('\n')

In [ ]:
# 데이터프레임 df의 기술통계 정보 확인 
print(df.describe())
print('\n')
print(df.describe(include='all'))

In [ ]:
sr1 = pd.Series([11,20,30,25,100,40,57,8])
sr2 = pd.Series(['AA', 'BB', 'AA', 'BB', 'AA', 'AA', 'CC', 'AA'])
print('[숫자로 구성된 시리즈]')
print(sr1.describe())
print('[문자열로 구성된 시리즈]')
print(sr2.describe())

In [ ]:
# 예제 3-2
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_csv('./data/auto-mpg.csv', header=None)

# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

# 데이터프레임 df의 각 열이 가지고 있는 원소 개수 확인 
print(df.count())
print('\n')

In [ ]:
# df.count()가 반환하는 객체 타입 출력
print(type(df.count()))
print('\n')

# 데이터프레임 df의 특정 열이 가지고 있는 고유값 확인 
unique_values = df['origin'].value_counts() 
print(unique_values)
print('\n')

# value_counts 메소드가 반환하는 객체 타입 출력
print(type(unique_values))

In [ ]:
# 예제 3-3
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_csv('./data/auto-mpg.csv', header=None)

# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

# 평균값 
print(df.mean())
print('\n')
print(df['mpg'].mean())
print(df.mpg.mean())
print('\n')
print(df[['mpg','weight']].mean())

In [ ]:
# 중간값 
print(df.median())
print('\n')
print(df['mpg'].median())

In [ ]:
# 최대값 
print(df.max())
print('\n')
print(df['mpg'].max())

In [ ]:
# 최소값 
print(df.min())
print('\n')
print(df['mpg'].min())

In [ ]:
# 표준편차 
print(df.std())
print('\n')
print(df['mpg'].std())

In [ ]:
# 상관계수 
print(df.corr())
print('\n')
print(df[['mpg','weight']].corr())

In [ ]:
# 예제 3-4
import pandas as pd

df = pd.read_excel('./data/남북한발전전력량.xlsx')  # 데이터프레임 변환 
display(df)
df_ns = df.iloc[[0, 5], 2:]            # 남한, 북한 발전량 합계 데이터만 추출
display(df_ns)
df_ns.index = ['South','North']        # 행 인덱스 변경
display(df_ns)
#df_ns.columns = df_ns.columns.map(int) # 열 이름의 자료형을 정수형으로 변경
print(df_ns.head())
print('\n')

# 선 그래프 그리기
df_ns.plot()

# 행, 열 전치하여 다시 그리기
tdf_ns = df_ns.T
print(tdf_ns.head())
print('\n')
tdf_ns.plot()

In [ ]:
# 예제 3-5
import pandas as pd

df = pd.read_excel('./data/남북한발전전력량.xlsx')  # 데이터프레임 변환 

df_ns = df.iloc[[0, 5], 3:]            # 남한, 북한 발전량 합계 데이터만 추출
df_ns.index = ['South','North']        # 행 인덱스 변경
df_ns.columns = df_ns.columns.map(int) # 열 이름의 자료형을 정수형으로 변경

# 행, 열 전치하여 막대 그래프 그리기
tdf_ns = df_ns.T
print(tdf_ns.head())
print('\n')
tdf_ns.plot(kind='bar')

In [ ]:
# 예제 3-6
import pandas as pd

df = pd.read_excel('./data/남북한발전전력량.xlsx')  # 데이터프레임 변환 

df_ns = df.iloc[[0, 5], 3:]            # 남한, 북한 발전량 합계 데이터만 추출
df_ns.index = ['South','North']        # 행 인덱스 변경
df_ns.columns = df_ns.columns.map(int) # 열 이름의 자료형을 정수형으로 변경

# 행, 열 전치하여 히스토그램 그리기
tdf_ns = df_ns.T
tdf_ns.plot(kind='hist')

In [ ]:
# 예제 3-7
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_csv('./data/auto-mpg.csv', header=None)

# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

# 2개의 열을 선택하여 산점도 그리기
df.plot(x='weight',y='mpg', kind='scatter')

In [ ]:
# 예제 3-8
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_csv('./data/auto-mpg.csv', header=None)

# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

# 열을 선택하여 박스 플롯 그리기
df[['mpg','cylinders']].plot(kind='box')

# Additional code sets

In [ ]:
data = {
    'name':['둘리', '또치', '도우너', '희동이'],
    '국어':[90, 80, 70, 70],
    '영어':[99, 98, 97, 46],
    '수학':[90, 70, 70, 60],
}
df = pd.DataFrame(data)
display(df)
df.set_index('name', inplace=True)
display(df)

In [ ]:
from matplotlib import font_manager, rc
font_path = "data/malgun.ttf"   #폰트파일의 위치
font_name = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font_name)

In [ ]:
df.plot()

In [ ]:
df.plot(color=["red","green","blue"])

In [ ]:
df.T.plot()

In [ ]:
df.plot(kind='bar')

In [ ]:
import matplotlib.pyplot as plt
mycolors = plt.get_cmap("plasma", len(df))

In [ ]:
df.plot(kind='bar', color=mycolors(range(4)))

In [ ]:
df.plot(kind='bar', stacked=True)

In [ ]:
df.plot(kind='barh')

In [ ]:
df.plot(kind='box')

In [ ]:
mycolor = {
    "boxes": "red",
    "whiskers": "blue",
    "medians": "yellow",
    "caps": "green",
}
df.plot(kind='box', color=mycolor)

In [ ]:
df.plot(kind='pie',y='국어')

In [ ]:
df.plot(kind='pie',y='영어', legend=False)

In [ ]:
df.plot(kind='pie',y='수학', legend=False)

In [ ]:
sr = pd.Series([10,35,20,15,30], index=['둘리', '도우너', '또치', '희동이', '마이콜'])
sr.plot()

In [ ]:
sr.plot(c='r')

In [ ]:
sr

In [ ]:
mycolors = plt.get_cmap("plasma", len(sr))
sr.plot(kind='bar', rot=20, color=mycolors(range(5)))

In [ ]:
mycolors = plt.get_cmap("Pastel2", len(sr))
sr.plot(kind='barh', color=mycolors(range(5)))

In [ ]:
r=sr.plot(kind='box')
r.set_xticklabels(['둘리,도우너,또치,희동이,마이콜의 점수'])
import matplotlib.pyplot as plt
plt.savefig('output/test.png')